In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pokemon_data.csv", index_col = "Name")
df.head()

             Passes  Smashes
Name
Bulbasaur   1187934   331851
Ivysaur     1172763   303853
Venusaur    1175757   273495
Charmander  1152826   271930
Charmeleon  1135715   275524

In [3]:
df['Smash Scaled'] = (df['Smashes'] - df['Smashes'].min()) / (df['Smashes'].max() - df['Smashes'].min())
df['Pass Scaled'] = (df['Passes'] - df['Passes'].min()) / (df['Passes'].max() - df['Passes'].min())


# Ensure Total = 1 for each row
df['Total'] = df['Smash Scaled'] + df['Pass Scaled']
df['Smash Normalized'] = df['Smash Scaled'] / df['Total']
df['Pass Normalized'] = df['Pass Scaled'] / df['Total']
df

,Passes,Smashes,Smash Scaled,Pass Scaled,Total,Smash Normalized,Pass Normalized
Name,,,,,,,
Bulbasaur,1187934,331851,0.408613,1.000000,1.408613,0.290082,0.709918
Ivysaur,1172763,303853,0.373735,0.987044,1.360779,0.274648,0.725352
Venusaur,1175757,273495,0.335917,0.989601,1.325518,0.253423,0.746577
Charmander,1152826,271930,0.333967,0.970017,1.303985,0.256113,0.743887
Charmeleon,1135715,275524,0.338445,0.955404,1.293849,0.261580,0.738420
...,...,...,...,...,...,...,...
Raging-bolt,56363,11343,0.009345,0.033627,0.042972,0.217478,0.782522
Iron-boulder,59467,8227,0.005464,0.036278,0.041741,0.130896,0.869104
Iron-crown,53995,13697,0.012278,0.031604,0.043882,0.279793,0.720207
Terapagos,59458,8218,0.005453,0.036270,0.041722,0.130687,0.869313
Pecharunt,58523,9021,0.006453,0.035471,0.041924,0.153918,0.846082